streamlit
pypdf
spacy
scikit-learn
pandas
numpy
plotly
xhtml2pdf
pytz
gTTS
SpeechRecognition
requests
networkx
langchain
langchain-community
langchain-huggingface
langchain-openai
langchain-google-genai
google-generativeai
sentence-transformers
pylatex
torchvision
watchdog
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl